{
  "BasedOnStyle": "LLVM",
  "UseTab": "Never",
  "IndentWidth": 4,
  "TabWidth": 4,
  "BreakBeforeBraces": "Allman",
  "AllowShortIfStatementsOnASingleLine": true,
  "AllowShortLoopsOnASingleLine": true,
  "AllowShortBlocksOnASingleLine": true,
  "AllowShortFunctionsOnASingleLine": "None",
  "IndentCaseLabels": false,
  "ColumnLimit": 0,
  "AccessModifierOffset": -4,
  "NamespaceIndentation": "All",
  "FixNamespaceComments": false,
  "PointerAlignment": "Left",
  "ReferenceAlignment": "Left"
}